/* Basic Reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body & container */
body {
    height: 100vh;
    background: #DCECFD;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    text-align: center;
    background: rgba(255,255,255,0.85);
    padding: 3em 2em;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    z-index: 2;
    max-width: 500px;
}

.container h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #1e293b;
}

.container p {
    font-size: 1.1em;
    color: #334155;
    margin-bottom: 2em;
    line-height: 1.5em;
}

/* Buttons */
.btn {
    padding: 0.9em 2em;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    margin: 0 0.5em;
}

.btn-register { background: #76b852; color: #fff; }
.btn-register:hover { background: #8DC26F; }

.btn-login { background: #1e293b; color: #fff; }
.btn-login:hover { background: #334155; }

/*-- bubbles --*/
.colorlib-bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

.colorlib-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background-color: #C4DCFB;
    border-radius: 50%;
    opacity: 0.6;
    animation: floatBubble linear infinite;
}

.colorlib-bubbles li:nth-child(1){ left: 10%; width:40px; height:40px; animation-duration:12s; animation-delay:0s;}
.colorlib-bubbles li:nth-child(2){ left: 20%; width:60px; height:60px; animation-duration:18s; animation-delay:2s;}
.colorlib-bubbles li:nth-child(3){ left: 30%; width:30px; height:30px; animation-duration:14s; animation-delay:4s;}
.colorlib-bubbles li:nth-child(4){ left: 40%; width:50px; height:50px; animation-duration:20s; animation-delay:1s;}
.colorlib-bubbles li:nth-child(5){ left: 50%; width:70px; height:70px; animation-duration:25s; animation-delay:3s;}
.colorlib-bubbles li:nth-child(6){ left: 60%; width:30px; height:30px; animation-duration:16s; animation-delay:2s;}
.colorlib-bubbles li:nth-child(7){ left:70%; width:50px; height:50px; animation-duration:22s; animation-delay:5s;}
.colorlib-bubbles li:nth-child(8){ left:80%; width:40px; height:40px; animation-duration:18s; animation-delay:0s;}
.colorlib-bubbles li:nth-child(9){ left:90%; width:60px; height:60px; animation-duration:20s; animation-delay:4s;}
.colorlib-bubbles li:nth-child(10){ left:25%; width:35px; height:35px; animation-duration:15s; animation-delay:3s;}

@keyframes floatBubble {
    0% { transform: translateY(0) translateX(0) rotate(0deg); opacity:0.5;}
    50% { opacity:0.8; }
    100% { transform: translateY(-800px) translateX(50px) rotate(360deg); opacity:0;}
}

/* Responsive */
@media(max-width:600px){
    .container { padding:2em 1em; }
    .container h1 { font-size:2em; }
    .container p { font-size:1em; }
}