body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.card {
  border-radius: 15px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.section-title {
  font-weight: 600;
  margin-bottom: 15px;
}

.job-card, .resource-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-card .badge {
  font-size: 0.75rem;
}

/* Image alignment  */
.resource-card .img-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px
}

.resource-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*Equal card layout */
.equal-row > [class*='col-'] {
  display: flex;
}

.equal-row .card {
  flex: 1;
}